@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 20mm;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
    position: static !important;
  }
}
